#firstName {
    border-radius: 25px;
}



#lastName{
    border-radius: 25px;
}

#email {
    border-radius: 25px;
}

#phnNo{
    border-radius: 25px;
}

#address {
    border-radius: 25px;
}

#pwd{
    border-radius: 25px;
}

#confirmPwd{
    border-radius: 25px;
}

#sclass {
    border-radius: 25px;
    
}

#ssection{
    border-radius: 25px;
}

#sclass{
    border-radius: 25px;
}

#ssection{
    border-radius: 25px;
}
.bg-white {
    
    margin-top: 50px;
    
    border-radius: 25px;
}


